body
{
    margin-top: 50px;
    font-family:Arial, Helvetica, sans-serif;
}
.card
{
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 250px;
    width: 440px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    /* border-bottom: 7px solid rgb(176, 176, 186); */
    /* border-top: 7px solid rgb(176, 176, 186); */
    box-shadow: 10px 10px rgb(176, 176, 186);
}
.img
{
    width: 150px;
    height: 250px;
    border-radius: 5px;
}
.details
{
    margin: auto;
    text-align: center;
}
h3, h4
{
    color: rgb(232, 232, 241);
}
